# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
dist/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local Tools & Builds
Release_Version/
Launcher.cs
*.exe
*.bat
*.log

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
